html{
	height: 100%;
}
body {
	min-height: 100%;
	background-image: url("../images/fundo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 55%; /*34*/
	
}
@font-face {
	font-family: CamptonBook;
	src: url("../fonts/CamptonBook.otf");
}

span {
	font-family: CamptonBook;
	font-size: 14px;
	color: #fff;
	margin: 0px;
}
.contato span.telefone {
	font-family: CamptonBook;
	font-size: 14px;
	letter-spacing: 1px;
	color: #fff;
}
.contato span.separador {
	margin: 0px 4px;
}
.contato span.email {
	color: #fff;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color: #fff;
} 
.escrita img{
    margin-top: 13%;
    width: 37%;
}
.social-media{
	display: inline-block;
	margin: 18px auto;
}
.social-media img{
	display: inline-block;
	margin: 10px 10px;
	width: 23%;
}

/*@media only screen and (max-width: 1580px) {
	
}
@media only screen and (max-width: 1480px) {
	
}
@media only screen and (max-width: 1380px) {
	
}



@media only screen and (max-width: 1300px) {*/

@media only screen and (max-width: 1280px) {	
	.escrita img{
		
		position: relative;
    	left: 8%;
	}
	.social-media{
		position: relative;
		left: 8%;
	}
	.contato span{
		position: relative;
    	left: 8%;
	}
}
@media only screen and (max-width: 1000px) {
	.escrita img{
		margin-top: 17%;
		position: relative;
    	left: 8%;
	}
	.contato span{
		position: relative;
    	left: 8%;
	}
	.social-media{
		position: relative;
		left: 8%;
	}
}
@media only screen and (max-width: 980px) {
		.escrita img {
		    margin-top: 26%;
		    position: relative;
		    left: 8%;
		    width: 45%;
}

}

@media only screen and (max-width: 880px) {
	
}
@media only screen 
and (min-device-width: 375px)
and (max-device-width: 812px)
{
	
}
@media only screen and (max-width: 800px) {
	
}

@media only screen and (max-width: 768px) {
	
}
@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation:portrait){
	
}


@media only screen and (max-width: 720px) {
	
}
@media only screen and (max-width: 680px) {
	.escrita img {
	    margin-top: 34%;
	    position: relative;
	    left: 8%;
	    width: 56%;
	}
}
@media only screen and (max-width: 600px) {
	
}

@media only screen and (max-width: 550px) {

}
@media only screen and (max-width: 500px) {
	.escrita img {
    margin-top: 51%;
    position: relative;
    left: 8%;
    width: 69%;
}
}

@media only screen and (max-width: 450px) {
	
}


@media only screen and (max-width: 380px) {
	
}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px)
and (orientation:portrait){
	

}
@media only screen
and (min-device-width: 360px)
and (max-device-width: 640px)
and (orientation:landscape){
	
}

@media only screen and (max-width: 350px) {
	.contato span.telefone {
    
    font-size: 11px;
    
	}
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation:portrait){
	.escrita img {
	    margin-top: 33%;
	    position: relative;
	    left: 8%;
	    width: 69%;
	}

}

@media only screen and (max-width: 280px) {
	.escrita img {
    margin-top: 91%;
    position: relative;
    left: 8%;
    width: 69%;
}
}